/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* Header */
header {
    background-color: gray;
    color: white;
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2.8rem;
    font-weight: 600;
}

header p {
    font-size: 1.2rem;
    margin-top: 10px;
}

/* Main Section */
main {
    padding: 3rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

/* About Section */
.about-section {
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.about-section h2 {
    font-size: 2rem;
    margin-bottom: 15px;
    font-weight: 500;
}

.about-section p {
    font-size: 1.1rem;
    color: #666;
}

/* Team Section */
.team-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.team-member {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 200px;
    width: 100%;
}

.team-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.team-member h3 {
    font-size: 1.4rem;
    font-weight: 500;
}

.team-member p {
    color: #666;
    font-size: 1.1rem;
}


/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
    font-size: 1rem;
}
